.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.feature-card-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
}

.feature-icon-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.feature-card-description {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .feature-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }
  .feature-icon-wrapper {
    display: flex;
  }
  .feature-card-description {
    font-weight: 400;
  }
  .feature-card-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}
