.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 72px;
  margin: 0 auto;
}

.footer-left {
  text-align: center;
}

.footer-logo {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus,
.footer-logo:active {
  color: #404bbf;
}

.footer-text {
  text-align: left;
  margin-top: 16px;
}

.footer-socials-title {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-link.ftr {
  padding: 8px;
}

.social-link.ftr:hover,
.social-link.ftr:focus {
  background-color: #31d0aa;
  outline: none;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 100%;
}

.footer-subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input:focus {
  outline: none;
  border-color: #31d0aa;
  color: #ffffff;
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe-input:focus::placeholder-shown {
  color: #ffffff;
}

.footer-subscribe-button {
  display: flex;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
  fill: #ffffff;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
  }
  .footer-left {
    width: 264px;
    text-align: left;
  }
  .footer-socials-title {
    text-align: left;
  }
  .footer-subscribe {
    align-items: flex-start;
  }
  .footer-subscribe-form {
    flex-direction: row;
		column-gap: 24px;
  }
  .footer-subscribe-input {
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0;
    gap: 0;
  }
  .footer-left {
    margin-right: 120px;
  }
  .footer-text {
    width: 264px;
    margin-top: 16px;
  }
  .footer-subscribe {
    margin-left: 83px;
    justify-content: flex-start;
  }
}
